/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
  padding-top: 3.5rem;
}

/* Custom Styles */
.mainContainer{
  padding: 50px !important;
  border-radius: 6px;
  background-color: #ddd;
  margin-top: 45px;
}
