<h1 class="page-header">Orders</h1>

<p>Top orders:</p>
<div class="row">
<div *ngFor="let order of orders" class="card border-primary bg-light mb-3" style="width: 13rem;margin-right:10px">
  <h5 class="card-header">{{order.name}}</h5>
  <div class="card-body">
    <h6 class="card-subtitle mb-2 text-muted">Notes</h6>
    <p class="card-text">{{order.notes}}</p>
  </div>

  <div class="card-header">Products</div>

  <ul class="list-group list-group-flush">
    <li class="list-group-item" *ngFor="let product of order.products">{{product.name}}</li>
  </ul>

  <div class="card-body">
    <button type="button" class="btn btn-danger btn-sm" (click)="delOrder(order)">Close Order</button>

  </div>
</div>
</div>


<div class="row" *ngIf="!adding">
  <button type="button" class="btn btn-success" (click)="flipAddOrderStatus()">+</button>
</div>

<div class="row">
  <form *ngIf="adding">
    <div class="form-group row">
      <label for="name" class="col-sm-4 col-form-label">Name</label>
      <div class="col-sm-8">
        <input type="text" [(ngModel)]="newOrder.name" class="form-control" id="name" name="orderName" placeholder="Name..."  />
      </div>
    </div>

    <div class="form-group row">
      <label for="notes" class="col-sm-4 col-form-label">Notes</label>
      <div class="col-sm-8">
        <input type="text" [(ngModel)]="newOrder.notes" class="form-control" id="notes"  name="orderNotes" placeholder="Notes..." >
      </div>
    </div>

    <div class="form-group row">
      <p class="col-sm-4 col-form-label">Current Products</p>
      <div class="col-sm-8">
        <ul style="border: solid black 1px">
          <li *ngFor="let product of subProd">{{product.name}}</li>
        </ul>
      </div>
    </div>

    <div class="form-group row">
      <label for="prodSelec" class="col-sm-4 col-form-label">Products</label>
      <div class="col-sm-8">
        <select id="prodSelec" class="form-control form-control-sm" name="selectedProd" [(ngModel)]="currentProd">
          <option  *ngFor="let product of products" [ngValue]="product">{{product.name}}</option>
        </select>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-sm-8 offset-4">
        <button type="button" class="btn btn-info btn-sm" (click)="addSubProd()">Add Product</button>
      </div>
    </div>

    <hr>

    <div class="form-group row">
      <div class="col-sm-10">
        <button type="button" class="btn btn-primary" (click)="addOrder(newOrder)">Add Product</button>
        <button type="button" class="btn btn-warning" (click)="flipAddOrderStatus()">Cancel</button>
      </div>
    </div>
  </form>

</div>
